.formulaire {
    height: 50%;
    width: 100%;
    align-items: center;
    text-align: center;
    // border: solid black;
    // border-width: 3px 3px 3px 3px;
    .menu {
        border: solid black;
        border-width: 0px 1px 1px 1px;
        background-color: grey;
        height: 100%;
        width: 100%;
        padding-top: 6%;
    }
    .listeData {
        border: solid #f1f2f5;
        border-width: 0px 0px 0.5px 0px;
        .update {
            background-color: green;
            color: white;
        }
        .delete {
            background-color: red;
            color: white;
        }
    }
    .validate {
        margin-top: 1%;
        background-color: green;
        color: white;
    }
}