.body {
    width: 88vw;
    height: 247.5vh;
    margin-right: 6vw;
    margin-left: 6vw;
    overflow-x: hidden;
    background-color: #f1f2f5;
    .main1 {
        height: 100vh;
        width: 100%;
        .doubleC {
            .newC {
                margin-left: 15%;
                width: 70%;
                height: 70%;
                border: #707070 1.5px solid;
                .rose1 {
                    position: absolute;
                    transform: rotate(315deg);
                    margin-left: 56.7%;
                    margin-top: -26.6%;
                    color: #de2b76;
                    font-size: 15rem;
                }
                .h2new {
                    text-align: center;
                    padding-top: 10%;
                    color: #707070;
                    font-family: 'Times New Roman', Times, serif;
                }
                .info {
                    margin-top: 20%;
                }
            }
            .endC {
                margin-left: 15%;
                width: 70%;
                height: 70%;
                border: #707070 1.5px solid;
                .rose1 {
                    position: absolute;
                    transform: rotate(315deg);
                    margin-left: 56.7%;
                    margin-top: -26.6%;
                    color: #de2b76;
                    font-size: 15rem;
                }
                .h2new {
                    text-align: center;
                    padding-top: 10%;
                    color: #707070;
                    font-family: 'Times New Roman', Times, serif;
                }
            }
        }
    }
    .main2 {
        height: 100vh;
        width: 100%;
    }
}