.maininput {
    height: 100vh;
    text-align: center;
    h2 {
        padding-top: 5%;
    }
    .inputg {
        padding-top: 5%;
        .input {
            text-align: right;
            label {
                padding-top: 3%;
            }
        }
    }
    .buttong {
        padding-top: 5%;
    }
}