.logo {
    width: 100vw;
    height: 80%;
    text-align: center;
    .logoimg {
        width: 5%;
    }
}

.menu {
    background-color: #ffffff;
    height: 20vh;
    .haut {
        background-color: #ffffff;
        width: 100vw;
        height: 50%;
        margin-left: -6vw;
    }
    .bas {
        background-color: #ffffff;
        width: 100vw;
        height: 50%;
        margin-left: -6vw;
        .acceuil {
            padding-left: 10%;
        }
    }
}

.h2nav {
    color: #707070;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.bleu {
    height: 7.5vh;
    background-color: #7cbee8;
    width: 100vw;
    margin-left: -6vw;
    .pnav {
        text-align: center;
        width: 100%;
        margin-bottom: 0;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 1%;
    }
}

.row {
    // margin: 0;
}