.main5 {
    height: 100vh;
    width: 100%;
    .profilc {
        text-align: center;
        margin-left: 6%;
        width: 90%;
        height: 85%;
        border: #707070 1.5px solid;
        background-color: #fff;
        padding-top: 3%;
        .imgprof {
            height: 100%;
        }
        .h2prof {
            text-align: right;
            color: #707070;
            font-family: 'Times New Roman', Times, serif;
        }
        .rose3 {
            position: absolute;
            transform: rotate(315deg);
            margin-left: 76.3%;
            margin-top: -8.9%;
            color: #de2b76;
            font-size: 15rem;
        }
        .infoprof {
            padding-top: 5%;
            .gauche {
                text-align: left;
            }
            .droite {
                padding-top: 5%;
                text-align: left;
            }
        }
        .infoprof2 {
            padding-top: 2%;
            text-align: left;
        }
    }
}

.main6 {
    height: 100vh;
    width: 100%;
    .doubleCInsc {
        .concourInsC {
            margin-left: 15%;
            width: 70%;
            height: 70%;
            border: #707070 1.5px solid;
            background-color: #fff;
            .rose1 {
                position: absolute;
                transform: rotate(315deg);
                margin-left: 56.7%;
                margin-top: -26.6%;
                color: #de2b76;
                font-size: 15rem;
            }
            .h2cins {
                text-align: center;
                padding-top: 10%;
                color: #707070;
                font-family: 'Times New Roman', Times, serif;
            }
            .infoInsc {
                margin-top: 20%;
                .imginsc {
                    border: transparent 1px;
                    border-radius: 15%;
                }
            }
        }
        .concourInsC2 {
            margin-left: 15%;
            width: 70%;
            height: 70%;
            border: #707070 1.5px solid;
            background-color: #fff;
            .rose1 {
                position: absolute;
                transform: rotate(315deg);
                margin-left: 56.7%;
                margin-top: -26.6%;
                color: #de2b76;
                font-size: 15rem;
            }
            .h2cins2 {
                text-align: center;
                padding-top: 10%;
                color: #707070;
                font-family: 'Times New Roman', Times, serif;
            }
            .infoInsc2 {
                margin-top: 20%;
                .imginsc2 {
                    border: transparent 1px;
                    border-radius: 15%;
                }
            }
        }
    }
}