@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500");
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.container,
.container>.row,
.container>.row>div {
    height: 100%;
}

#countUp {
    font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .number {
        font-size: 4rem;
        font-weight: 500;
        +.text {
            margin: 0 0 1rem;
        }
    }
    .textRedirect {
        font-weight: 300;
        text-align: center;
    }
}